// ==========================================================================
// Flexboxgrid styling - [ with modifications ]
// Source: http://flexboxgrid.com/
// ==========================================================================


// Modifications:
// 1. Changed class naming ( .xs, .sm, .md, .lg -> .col, .tablet, .desktop, .hd )
// 2. Added LESS variables for gutter, container and breakpoints
// 3. .container now have left and right padding; .container-fluid -> .container-full


// Variables
// ===========================================

// Grid Containers
@column-gutter:                 1rem;

@tablet-container:              49rem;  // = 784px
@desktop-container:             65rem;  // = 1040px (ex 990px)
@hd-container:                  76rem;  // = 1215px (ex 1170px)

// Responsive Breakpoints
@tablet-breakpoint:             48em;  // = 768px
@desktop-breakpoint:            64em;  // = 1024px
@hd-breakpoint:                 75em;  // = 1200px    za 16px veca vrednost


// Code
// ===========================================

// Mobile grid styles
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: @column-gutter;
  padding-right: @column-gutter;
  max-width: @hd-breakpoint;
}

.container-full {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -(@column-gutter / 2);
  margin-left: -(@column-gutter / 2);
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.push-0,
.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11,
.push-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: @column-gutter / 2;
  padding-left: @column-gutter / 2;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.push-0 {
  margin-left: 0;
}

.push-1 {
  margin-left: 8.33333333%;
}

.push-2 {
  margin-left: 16.66666667%;
}

.push-3 {
  margin-left: 25%;
}

.push-4 {
  margin-left: 33.33333333%;
}

.push-5 {
  margin-left: 41.66666667%;
}

.push-6 {
  margin-left: 50%;
}

.push-7 {
  margin-left: 58.33333333%;
}

.push-8 {
  margin-left: 66.66666667%;
}

.push-9 {
  margin-left: 75%;
}

.push-10 {
  margin-left: 83.33333333%;
}

.push-11 {
  margin-left: 91.66666667%;
}

.start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

// Tablet grid styles
@media only screen and (min-width: @tablet-breakpoint) {
  .container {
    width: @tablet-container;
  }

  .col-tablet,
  .col-tablet-1,
  .col-tablet-2,
  .col-tablet-3,
  .col-tablet-4,
  .col-tablet-5,
  .col-tablet-6,
  .col-tablet-7,
  .col-tablet-8,
  .col-tablet-9,
  .col-tablet-10,
  .col-tablet-11,
  .col-tablet-12,
  .push-tablet-0,
  .push-tablet-1,
  .push-tablet-2,
  .push-tablet-3,
  .push-tablet-4,
  .push-tablet-5,
  .push-tablet-6,
  .push-tablet-7,
  .push-tablet-8,
  .push-tablet-9,
  .push-tablet-10,
  .push-tablet-11,
  .push-tablet-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: @column-gutter / 2;
    padding-left: @column-gutter / 2;
  }

  .col-tablet {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-tablet-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-tablet-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-tablet-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-tablet-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-tablet-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-tablet-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-tablet-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-tablet-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-tablet-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-tablet-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-tablet-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-tablet-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .push-tablet-0 {
    margin-left: 0;
  }

  .push-tablet-1 {
    margin-left: 8.33333333%;
  }

  .push-tablet-2 {
    margin-left: 16.66666667%;
  }

  .push-tablet-3 {
    margin-left: 25%;
  }

  .push-tablet-4 {
    margin-left: 33.33333333%;
  }

  .push-tablet-5 {
    margin-left: 41.66666667%;
  }

  .push-tablet-6 {
    margin-left: 50%;
  }

  .push-tablet-7 {
    margin-left: 58.33333333%;
  }

  .push-tablet-8 {
    margin-left: 66.66666667%;
  }

  .push-tablet-9 {
    margin-left: 75%;
  }

  .push-tablet-10 {
    margin-left: 83.33333333%;
  }

  .push-tablet-11 {
    margin-left: 91.66666667%;
  }

  .start-tablet {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-tablet {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-tablet {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-tablet {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-tablet {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-tablet {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-tablet {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-tablet {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-tablet {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-tablet {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

// Desktop grid styles
@media only screen and (min-width: @desktop-breakpoint) {
  .container {
    width: @desktop-container;
  }

  .col-desktop,
  .col-desktop-1,
  .col-desktop-2,
  .col-desktop-3,
  .col-desktop-4,
  .col-desktop-5,
  .col-desktop-6,
  .col-desktop-7,
  .col-desktop-8,
  .col-desktop-9,
  .col-desktop-10,
  .col-desktop-11,
  .col-desktop-12,
  .push-desktop-0,
  .push-desktop-1,
  .push-desktop-2,
  .push-desktop-3,
  .push-desktop-4,
  .push-desktop-5,
  .push-desktop-6,
  .push-desktop-7,
  .push-desktop-8,
  .push-desktop-9,
  .push-desktop-10,
  .push-desktop-11,
  .push-desktop-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: @column-gutter / 2;
    padding-left: @column-gutter / 2;
  }

  .col-desktop {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-desktop-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-desktop-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-desktop-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-desktop-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-desktop-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-desktop-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-desktop-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-desktop-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-desktop-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-desktop-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-desktop-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-desktop-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .push-desktop-0 {
    margin-left: 0;
  }

  .push-desktop-1 {
    margin-left: 8.33333333%;
  }

  .push-desktop-2 {
    margin-left: 16.66666667%;
  }

  .push-desktop-3 {
    margin-left: 25%;
  }

  .push-desktop-4 {
    margin-left: 33.33333333%;
  }

  .push-desktop-5 {
    margin-left: 41.66666667%;
  }

  .push-desktop-6 {
    margin-left: 50%;
  }

  .push-desktop-7 {
    margin-left: 58.33333333%;
  }

  .push-desktop-8 {
    margin-left: 66.66666667%;
  }

  .push-desktop-9 {
    margin-left: 75%;
  }

  .push-desktop-10 {
    margin-left: 83.33333333%;
  }

  .push-desktop-11 {
    margin-left: 91.66666667%;
  }

  .start-desktop {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-desktop {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-desktop {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-desktop {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-desktop {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-desktop {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-desktop {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-desktop {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-desktop {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-desktop {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

// HD grid styles
@media only screen and (min-width: @hd-breakpoint) {
  .container {
    width: @hd-container;
  }

  .col-hd,
  .col-hd-1,
  .col-hd-2,
  .col-hd-3,
  .col-hd-4,
  .col-hd-5,
  .col-hd-6,
  .col-hd-7,
  .col-hd-8,
  .col-hd-9,
  .col-hd-10,
  .col-hd-11,
  .col-hd-12,
  .hd-push-0,
  .hd-push-1,
  .hd-push-2,
  .hd-push-3,
  .hd-push-4,
  .hd-push-5,
  .hd-push-6,
  .hd-push-7,
  .hd-push-8,
  .hd-push-9,
  .hd-push-10,
  .hd-push-11,
  .hd-push-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: @column-gutter / 2;
    padding-left: @column-gutter / 2;
  }

  .col-hd {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-hd-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-hd-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-hd-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-hd-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-hd-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-hd-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-hd-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-hd-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-hd-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-hd-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-hd-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-hd-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .push-hd-0 {
    margin-left: 0;
  }

  .push-hd-1 {
    margin-left: 8.33333333%;
  }

  .push-hd-2 {
    margin-left: 16.66666667%;
  }

  .push-hd-3 {
    margin-left: 25%;
  }

  .push-hd-4 {
    margin-left: 33.33333333%;
  }

  .push-hd-5 {
    margin-left: 41.66666667%;
  }

  .push-hd-6 {
    margin-left: 50%;
  }

  .push-hd-7 {
    margin-left: 58.33333333%;
  }

  .push-hd-8 {
    margin-left: 66.66666667%;
  }

  .push-hd-9 {
    margin-left: 75%;
  }

  .push-hd-10 {
    margin-left: 83.33333333%;
  }

  .push-hd-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
