//- Begin
doctype

//[if gt IE 8] <!--> <html lang="en"> <!-- ![endif]
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	meta(name="description", content="A description of the page no longer than 155 characters (including spaces)")
	meta(name="author", content="Danijel Grabez")
	
	= '\n'
	//- give me some space so I can breathe human ;)

	// favicons
	link(rel="shortcut icon", href="assets/images/favicons/favicon.ico")
	link(rel="icon", type="image/png", href="assets/images/favicons/favicon-16x16.png", sizes="16x16")
	link(rel="icon", type="image/png", href="assets/images/favicons/favicon-32x32.png", sizes="32x32")
	link(rel="apple-touch-icon", sizes="180x180", href="assets/images/favicons/apple-touch-icon.png")

	= '\n'

	link(rel="manifest", href="assets/images/favicons/manifest.json")
	link(rel="mask-icon", href="assets/images/favicons/safari-pinned-tab.svg", color="#03c296")
	meta(name="msapplication-config", content="assets/images/favicons/browserconfig.xml")
	meta(name="theme-color", content="#03c296")

	= '\n'
	title Project Name | Styleguide
	
	= '\n'  

	// fonts
	link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700', rel='stylesheet' type='text/css')

	// css
	link(href="assets/css/style.min.css", rel="stylesheet" type="text/css")
	link(href="assets/css/lifeboat.min.css", rel="stylesheet" type="text/css")
 
	style.

body#lb-styleguide

	header.lb-main-header
		nav.lb-main-nav
			ul.lb-main-nav__list
				li.lb-main-nav__item
					a(href="_site-pages.html").lb-main-nav__link.lb-main-nav__link--logo
						img(src="assets/images/vendor/lifeboat/lifeboat.png", alt="Lifeboat").lb-main-logo
				li.lb-main-nav__item
					a(href="_site-pages.html").lb-main-nav__link Site pages
				li.lb-main-nav__item
					a(href="_styleguide.html").lb-main-nav__link.is-active Styleguide
	// /.lb-main-header

	section#lb-intro.lb-intro
		.container
			.row
				.col-12
					header.lb-intro__header
						h1.lb-intro__title Styleguide
						p.lb-intro__lead Welcome to Project_Name styleguide! This page contains general instructions on how to mantain project code base along with the project structure and tools which were used for project creation.
						p #[strong Why this file?] Most style guides document the design work done rather than explicitly provide a framework as to where the work could go. For additional help you can reach me via email: #[strong: a(href="mailto:danijel889@gmail.com").link-text danijel889@gmail.com].
					nav.lb-intro-nav
						ul.lb-intro-nav__list
							li.lb-intro-nav__item
								a(href="#section-introduction").lb-intro-nav__link.js-scroll-to
									figure.lb-intro-nav__icon
										img(src="assets/images/vendor/lifeboat/icon-number-one.svg", alt="Step one – Introduction")
									| Introduction
							li.lb-intro-nav__item
								a(href="#section-folder-structure").lb-intro-nav__link.js-scroll-to
									figure.lb-intro-nav__icon
										img(src="assets/images/vendor/lifeboat/icon-number-two.svg", alt="Step two – Structure")
									| Structure
							li.lb-intro-nav__item
								a(href="#section-conventions").lb-intro-nav__link.js-scroll-to
									figure.lb-intro-nav__icon
										img(src="assets/images/vendor/lifeboat/icon-number-three.svg", alt="Step three – Conventions")
									| Conventions
							li.lb-intro-nav__item
								a(href="#section-extra").lb-intro-nav__link.js-scroll-to
									figure.lb-intro-nav__icon
										img(src="assets/images/vendor/lifeboat/icon-number-four.svg", alt="Step four – Extra")
									| Extra
	// /.lb-intro
	
	.container
		.row
			.col-12
				include vendor/lifeboat/section-introduction.pug
				include vendor/lifeboat/section-structure.pug
				include vendor/lifeboat/section-conventions.pug
				include vendor/lifeboat/section-extra.pug

	a(href="https://bitbucket.org/danijel_grabez/lifeboat-jade").lb-author 
		svg(version="1.1" id="lifeboat" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="184 184 32 32" enable-background="new 184 184 32 32" xml:space="preserve").lb-author__logo
			circle(fill="#FFFFFF" cx="200" cy="200" r="12.375")
			g(transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)")
				path(fill="#03C296" d="M1979.399,2149.062c-33.101-4.78-62.578-19.517-85.879-42.744c-21.299-21.372-34.8-46.685-41.436-77.705c-2.007-9.258-2.085-11.108-2.085-28.779c0-17.666,0.078-19.521,2.085-28.77c6.636-31.025,20.137-56.338,41.436-77.705c21.372-21.299,46.68-34.805,77.7-41.436c9.258-2.012,11.108-2.09,28.779-2.09c17.666,0,19.521,0.078,28.789,2.09c31.016,6.631,56.318,20.137,77.695,41.436c21.299,21.367,34.805,46.68,41.436,77.705c2.012,9.248,2.08,11.104,2.08,28.77c0,17.671-0.068,19.521-2.08,28.779c-6.631,31.021-20.137,56.333-41.436,77.705c-23.613,23.535-52.93,38.042-86.494,42.822C2010.107,2150.527,1989.121,2150.527,1979.399,2149.062z M2020.068,2121.362c25.537-4.399,46.826-15.122,65.508-33.101c37.959-36.65,48.301-92.905,25.85-140.811c-12.041-25.771-33.252-46.924-59.033-59.033c-47.92-22.451-104.165-12.119-140.815,25.85c-22.998,23.916-34.492,52.471-34.492,85.566c0,34.341,12.886,64.819,37.344,88.428c21.221,20.444,46.064,31.636,76.699,34.565C1996.533,2123.369,2013.271,2122.524,2020.068,2121.362z")
				path(fill="#333333" d="M1964.507,1999.833v-64.805h50.542h50.537v15.039v15.049h-30.479h-30.479v49.766v49.771h-20.059h-20.063V1999.833z")
		span.lb-author__name Made with Lifeboat

	= '\n'
	// js
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

	= '\n'
	script(type='text/javascript').

		//- // Cashing SVG Sprite in localStorage 
		$(document).ready(function(){;(function(window,document)
		{'use strict';
			// Change revision of svg icons every time you add new icons
			var file='assets/images/icons/svg-holder.html',
				revision=1;
		if(!document.createElementNS||!document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect){return true;}
		var isLocalStorage='localStorage'in window&&window['localStorage']!==null,request,data,insertIT=function()
		{document.body.insertAdjacentHTML('afterbegin',data);},insert=function()
		{if(document.body){insertIT();}
		else{document.addEventListener('DOMContentLoaded',insertIT);}};if(isLocalStorage&&localStorage.getItem('inlineSVGrev')===revision)
		{data=localStorage.getItem('inlineSVGdata');if(data)
		{insert();return true;}}
		try
		{request=new XMLHttpRequest();request.open('GET',file,true);request.onload=function()
		{if(request.status>=200&&request.status<400)
		{data=request.responseText;insert();if(isLocalStorage)
		{localStorage.setItem('inlineSVGdata',data);localStorage.setItem('inlineSVGrev',revision);}}};request.send();}
		catch(e){}}(window,document));});
	
	= '\n'
	script(type='text/javascript').
		$(document).ready(function() {

			//- Smooth scroll-to links
			$('.js-scroll-to').click(function(e){
				$('html, body').animate({
						scrollTop: $( $.attr(this, 'href') ).offset().top - 80
				}, 500);
				e.preventDefault();
			});

		}); // end document ready

</html>
