//- This file will hold variables.
//- They need to be defined as CamelCase.

//- <head>
- var PageTitle = 'Lifeboat'
- var MetaDescription = 'A description of the page no longer than 155 characters (including spaces).'
- var MetaAuthor = 'Lifeboat'
//- Google Fonts (enable/disable)
- var GoogleFont = ''
//-'Lato:400,300,300italic|Open+Sans:400,700'

//- TypeKit Fonts
- var TypeKit = ''
//-'kel3peh.js'

//- <body>
- var PageClass = 'page'
- var PageIntroClass = 'intro'
- var PageContentClass = 'content'

- var jQuery = true //- Enable jQuery
- var GoogleAnalytics = true //- Enable Google Analytics
