extends pagewrapper

//- Override config.pug file
append page-config
	- var PageTitle = 'Lifeboat | Welcome'
	- var PageClass = 'homepage'
	- var PageIntroClass = 'homepage'
	- var PageContentClass = 'homepage'

//- Begin
block partials
	//- include partials/modals/modal
	//- include partials/overlays/overlay
	//- include partials/overlays/overlay-modal

block page-intro	
	
	h1 Project_name

	p This is a Project_name repository which is built with #[a(href="https://bitbucket.org/danijel_grabez/lifeboat-jade") Lifeboat - Jade].
	p #[strong Note:] This content is copied from README.md just to fill in the page. Feel free to remove this content.

block page-content
	.container
		.row
			.col-12

				h3 Installation

				ul
					li Install required grunt-related libraries with #[code npm install].  
					li Install resources and tools (global NPM packages) mentioned bellow.  
					li Install dploy with #[code dploy install].
			
				h3 Building the assets

				ul
					li Run main grunt task with #[code grunt watch-files].  
					li All assets source files are located in #[code /source/less, js, images] and built files are located in #[code /assets/css, js, images].  
					li Pug pages are located in #[code source/site-pages]. This task builds HTML pages in the root directory.  

				strong Handy tasks:
		
				ol
					li #[code grunt copy-assets] – copy fonts, favicons and SVG files which are not handled by #[code watch] task.  
					li #[code grunt copy-javascript] – copy all JavaScript plugins used in project to #[code assets/js/unminified-scripts/]. This task is handy in situations when the repo needs to be passed to developers who are integrating the files without Grunt setup.  

				h3 Resources and tools

				ul
					li #[a(href="http://lesscss.org/") LESS] — CSS Preprocessor
					li #[a(href="https://pugjs.org/api/getting-started.html") Pug] — Pug Templating Language
					li #[a(href="https://nodejs.org/") NPM] — Node Package Manager
					li #[a(href="http://gruntjs.com/") Grunt.js] — JavaScript Task Runner
					li #[a(href="https://www.browsersync.io/") BrowserSync] — Time-saving synchronised browser testing
					li #[a(href="http://leanmeanfightingmachine.github.io/dploy/") DPLOY] — Deployment Tool
					li #[a(href="https://surge.sh/") Surge] — Deploy projects to a production-quality CDN 

				p For detailed information about code convention and how this project is built see #[a(href="_styleguide.html") Styleguide] page. For brief information about each of the mentioned tool see #[a(href="documentation/tools-and-services.md") Tools and Services Page].

				h3 Author
				p Danijel Grabež  
				p website: #[a(href="www.danijelgrabez.com") Danijel Grabež]
				address email: #[a(href="mailto:danijel889@gmail.com") danijel889@gmail.com]


block additional-scripts
	//- include partials/path/to/additional/script.js
