/* ===========================================
 * Form foundation styling
 * =========================================== */

.form {
  .clearfix();

  &__input {
    width: 100%;
    padding: 5px 10px;
    line-height: (@line-height-computed * 1.1);
    border-radius: @border-radius-small;
    border: 1px solid @border-color;
    -webkit-appearance: none;
    -moz-appearance: none; 
    outline: none;
    transition: all .3s ease-in-out;
    &:hover {
      border-color: lighten(@border-color, 30%);
    }
    &:focus {
      border-color: @color-brand-secondary;
    }

    &--textarea {
      min-height: 150px;
      line-height: 1.5;
      padding-top: 15px;
    }
  }

  &__label {
    &:hover {
      cursor: pointer;
    }
  }

  &__button {
    font-weight: @font-weight-bold;
    margin-top: @spacing-base;
    width: 100%;
    border: none;
    border-radius: @border-radius-base;
    color: @color-white;
    padding: 10px 15px;
    transition: all .3s ease-in-out;

    &--submit {
      background: lighten(@color-link, 10%);
      &:hover {
        background: @color-link;
      }
      &:focus {
        background: darken(@color-link, 5%);
      }
    }

    &--cancel {
      background: lighten(@color-error, 10%);
      &:hover {
        background: @color-error;
      }
      &:focus {
        background: darken(@color-error, 5%);
      }
    }
  }
}

// Input fields holder
.holder {
  .clearfix();
  position: relative;
  margin-bottom: @spacing-small;

  &__half {
    width: 50%;
    float: left;
    position: relative;

    &:nth-child(1) {
      padding-right: 15px;
    }

    &:nth-child(2) {
      padding-left: 15px;
    }
  }
}