/* ===========================================
 * Form floating labels
 * =========================================== */

//  Info:
//  
//  – In this case label needs to be placed bellow the input element
//  – Also, input elements need to have "required" attribute added in order to function properly


// Pug:
// 
// input(type="text" id="first-name" name="first-name" class="form__input form__input--has-label" required)
// label(for="first-name" class="form__label form__label--placeholder") First name

.form {

  &__input--has-label {
    padding: 30px 10px 10px;
    position: relative;
  }
  &__input--has-label:focus + &__label--placeholder,
  &__input--has-label:valid + &__label--placeholder {
    top: 10px;
    font-size: 13px;
  }

  &__label--placeholder {
    font-size: 18px;
    font-weight: 400;
    color: @color-gray;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 19px;
    left: 10px;
    z-index: 2;
    pointer-events: none;
  }

}
