/* ===========================================
 * Form select replacement
 * =========================================== */

.form {

  &__select {
    width: 100%;
    padding: 5px 10px;
    line-height: (@line-height-computed * 1.1);
    border-radius: @border-radius-small;
    border: 1px solid @border-color;
    -webkit-appearance: none;
    -moz-appearance: none; 
    outline: none;
    transition: all .3s ease-in-out;
    display: block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFBAMAAACOSmBbAAAAJFBMVEWNkqGNkqGNkqGNkqGNkqGNkqGNkqGNkqGNkqGNkqGNkqGNkqGjfm7jAAAAC3RSTlMAKyw/VVZwxe74/bHjpQEAAAAgSURBVAgdY2BbvXv3MgYGz907AxgYmLubGYBAXIEBAgCFvAYjIoW0DAAAAABJRU5ErkJggg==');
    background-position: 95% center;
    background-repeat: no-repeat;
    &:focus { 
      outline: 0; 
    }
  }
}

// In case solution with background image hack doesn't function, wrap the select element with this class
.form__select-wrapper {
  position: relative;
  
  &:before {
    content: "";
    border: 6px solid transparent;
    border-top-color: #676767;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }
}