#overlay-id.js-overlay.overlay
	a(href="#overlay-id" class="overlay__close js-overlay-close")
		svg.icon
			use(xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink")
	.overlay__content
		h1 Overlay content.