#overlay-modal-id.js-overlay-modal.overlay-modal
	.overlay-modal__container
		.overlay-modal__header
			a(href="#overlay-modal-id" class="overlay-modal__close js-overlay-modal-close")
				svg.icon
					use(xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink")
			h4 Overlay content.
		.overlay-modal__content
			span Overlay modal content.

		.overlay-modal__footer
			span Overlay modal footer.