/* ===========================================
   Header styling
   =========================================== */

.page-header {
	background: fade(@color-brand-primary, 92%);
	position: relative;

	&--fixed {									// this is a wrapping div
	  position: fixed;					// (.page-header--fixed > .page-header)
	  top: 0;										// this class will prevent header jumping on scroll
	  left: 0;
	  width: 100%;
	  transform: translateZ(0); // prevent element repaint for position: fixed element
	  z-index: @z-index-large;
	  height: 99px;
	}

	&--animated {
		animation-name: fadeInDown;
		animation-delay: 1.2s;
		.animate(@duration: 1s;);
	}

	.container {							  // Modify container width for main navigation
		width: 100%;
		@media screen and (min-width: 1200px) {
			width: 92%;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


.page-logo {
	.hide-text();
	padding: 27px 0;
	line-height: 1;
	display: inline-block;
	position: relative;
	z-index: 3;
	img {
		display: block;
		@media screen and (max-width: 400px) {
			display: block;
			max-width: 200px;
			height: auto;
		}
	}
}

.page-nav {
	.clearfix();

	&__list {
		.clearfix();
		list-style: none;
		margin: 0;
		padding: 27px 0;
		float: right;
		@media screen and (max-width: @desktop-breakpoint) {
			text-align: center;
			padding: 140px 0 15px;
			background: fade(@color-brand-primary, 90%);
			display: none;
			float: none;
			position: absolute;
			top: -140px;
			left: 0;
			right: 0;
			z-index: 2;
		}
	}

	&__item {
		margin: 0;
		padding: 0 10px;
		display: block;
		line-height: 1;
		float: left;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		@media screen and (min-width: @hd-breakpoint) {
		padding: 0 17px;
		}
		@media screen and (max-width: @desktop-breakpoint) {
			border-top: 1px dotted #dedddc;
			float: none;
			padding: 0;
		}
	}

	&__link {
		.font-size(16);
		font-weight: @font-weight-regular;
		color: @color-white;
		padding: 10px 0;
		display: block;
		@media screen and (max-width: @desktop-breakpoint) {
			padding: 20px 0;
		}

		&--active {
			color: @color-brand-primary;
			&:hover {
				color: @color-brand-primary;
			}
		}

		.button-project& {
			color: @color-brand-primary;
			background-color: @color-white;
			border-width: 2px;
			padding-left: 15px;
			padding-right: 15px;
			&:hover {
				color: @color-brand-primary;
				border-color: @color-white;
			}
			&:focus {
				color: @color-brand-primary;
				border-color: @color-link-hover;
			}
			@media screen and (max-width: @desktop-breakpoint) {
				margin: 15px;
				color: @color-brand-primary;
				background: @color-white;
				border: none;
				&:hover,
				&:focus {
					color: @color-white;
				}
			}
		}
	}
}

.is-visible {
	display: block !important;
}

.page-nav-button {
	.font-size(13);
	letter-spacing: .05em;
	text-transform: uppercase;
	background: @color-white;
	color: @color-brand-primary;
	border-width: 2px;
	border-color: @color-white;
	position: absolute;
	right: 15px;
	top: 25px;
	z-index: 3;
	&:hover,
	&:focus {
		color: @color-brand-primary;
	}
	@media screen and (min-width: @desktop-breakpoint) {
		display: none;
	}
	@media screen and (max-width: 400px) {
		top: 22px;
	}
}
