<div class="svg-holder"><svg xmlns="http://www.w3.org/2000/svg"><symbol viewBox="0 0 32 32" id="icon-arrow-bottom"><title>arrow-bottom</title> <path d="M16.723,31c-0.681,0-1.257-0.236-1.733-0.713L2.435,17.752c-0.477-0.5-0.713-1.086-0.713-1.752
	c0-0.679,0.236-1.256,0.713-1.732L14.989,1.732C15.451,1.246,16.029,1,16.723,1c0.68,0,1.265,0.246,1.752,0.732l1.444,1.424
	c0.476,0.501,0.712,1.086,0.712,1.752c0,0.68-0.236,1.257-0.712,1.734l-5.661,5.66h13.556c0.667,0,1.244,0.246,1.733,0.732
	c0.487,0.488,0.731,1.066,0.731,1.732v2.465c0,0.666-0.244,1.244-0.731,1.732c-0.489,0.486-1.066,0.732-1.733,0.732H14.258
	l5.661,5.66c0.476,0.478,0.712,1.055,0.712,1.734c0,0.666-0.236,1.251-0.712,1.752l-1.444,1.443C17.974,30.764,17.389,31,16.723,31z
	"/> </symbol><symbol viewBox="0 0 32 32" id="icon-arrow-left"><title>arrow-left</title> <path d="M31,15.277c0,0.681-0.236,1.257-0.713,1.733L17.752,29.565c-0.5,0.477-1.086,0.713-1.752,0.713
	c-0.679,0-1.256-0.236-1.732-0.713L1.732,17.011C1.246,16.549,1,15.971,1,15.277c0-0.68,0.246-1.265,0.732-1.752l1.424-1.444
	c0.501-0.476,1.086-0.712,1.752-0.712c0.68,0,1.257,0.236,1.734,0.712l5.66,5.661V4.187c0-0.667,0.246-1.244,0.732-1.733
	c0.488-0.487,1.066-0.731,1.732-0.731h2.465c0.666,0,1.244,0.244,1.732,0.731c0.486,0.489,0.732,1.066,0.732,1.733v13.556
	l5.66-5.661c0.478-0.476,1.055-0.712,1.734-0.712c0.666,0,1.251,0.236,1.752,0.712l1.443,1.444C30.764,14.026,31,14.611,31,15.277z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-arrow-right"><title>arrow-right</title> <path d="M15.277,1c0.681,0,1.257,0.236,1.733,0.713l12.555,12.535c0.477,0.5,0.713,1.086,0.713,1.752
	c0,0.679-0.236,1.256-0.713,1.732L17.011,30.268C16.549,30.754,15.971,31,15.277,31c-0.68,0-1.265-0.246-1.752-0.732l-1.444-1.424
	c-0.476-0.501-0.712-1.086-0.712-1.752c0-0.68,0.236-1.257,0.712-1.734l5.661-5.66H4.187c-0.667,0-1.244-0.246-1.733-0.732
	c-0.487-0.488-0.731-1.066-0.731-1.732v-2.465c0-0.666,0.244-1.244,0.731-1.732c0.489-0.486,1.066-0.732,1.733-0.732h13.556
	l-5.661-5.66c-0.476-0.478-0.712-1.055-0.712-1.734c0-0.666,0.236-1.251,0.712-1.752l1.444-1.443C14.026,1.236,14.611,1,15.277,1z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-arrow-top"><title>arrow-top</title> <path d="M1,16.723c0-0.681,0.236-1.257,0.713-1.733L14.248,2.435c0.5-0.477,1.086-0.713,1.752-0.713
	c0.679,0,1.256,0.236,1.732,0.713l12.535,12.555C30.754,15.451,31,16.029,31,16.723c0,0.68-0.246,1.265-0.732,1.752l-1.424,1.444
	c-0.501,0.476-1.086,0.712-1.752,0.712c-0.68,0-1.257-0.236-1.734-0.712l-5.66-5.661v13.556c0,0.667-0.246,1.244-0.732,1.733
	c-0.488,0.487-1.066,0.731-1.732,0.731h-2.465c-0.666,0-1.244-0.244-1.732-0.731c-0.486-0.489-0.732-1.066-0.732-1.733V14.258
	l-5.66,5.661c-0.478,0.476-1.055,0.712-1.734,0.712c-0.666,0-1.251-0.236-1.752-0.712l-1.443-1.444C1.236,17.974,1,17.389,1,16.723z
	"/> </symbol><symbol viewBox="0 0 32 32" id="icon-bell"><title>bell</title> <path d="M25.754,21.986l3.028,3.028v1.479H3.218v-1.479l3.028-3.028v-8.24c0-2.253,0.704-4.272,2.113-6.056
	c1.408-1.784,3.192-2.934,5.352-3.451V3.254c0-0.61,0.224-1.139,0.669-1.585C14.826,1.222,15.354,0.999,15.965,1
	c0.611,0,1.14,0.224,1.586,0.668c0.444,0.445,0.668,0.973,0.668,1.585v0.985c2.159,0.517,3.955,1.667,5.387,3.451
	c1.434,1.784,2.149,3.803,2.149,6.056L25.754,21.986L25.754,21.986z M15.965,31c-0.798,0-1.49-0.293-2.077-0.88
	s-0.881-1.279-0.881-2.078h5.984c0,0.799-0.305,1.491-0.914,2.078C17.467,30.707,16.763,31,15.965,31z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-calendar"><title>calendar</title> <path d="M28.857,31H3.143C1.961,31,1,30.039,1,28.857v-22.5c0-1.183,0.961-2.143,2.143-2.143h2.144v1.071
	C5.286,7.062,6.725,8.5,8.5,8.5s3.214-1.438,3.214-3.214V4.214h8.572v1.071c0,1.776,1.439,3.214,3.214,3.214
	s3.214-1.438,3.214-3.214V4.214h2.144c1.182,0,2.143,0.96,2.143,2.143v22.5C31,30.039,30.039,31,28.857,31z M28.857,11.714H3.143
	v17.143h25.715V11.714z M12.859,20.103c0.211-0.336,0.317-0.691,0.317-1.064c0-0.828-0.445-1.243-1.337-1.243
	c-0.774,0-1.515,0.309-2.223,0.924v-1.746c0.783-0.507,1.666-0.76,2.649-0.76c0.921,0,1.64,0.231,2.157,0.693
	c0.518,0.463,0.775,1.088,0.775,1.874c0,1.05-0.63,2.137-1.891,3.258l-1.852,1.646v0.037h3.653v1.645H9.185v-1.544l2.58-2.468
	C12.283,20.857,12.648,20.44,12.859,20.103z M20.111,23.678c0.283-0.218,0.424-0.521,0.424-0.91c0-0.401-0.174-0.712-0.523-0.929
	c-0.35-0.218-0.829-0.327-1.442-0.327h-0.81v-1.519h0.747c1.172,0,1.758-0.39,1.758-1.169c0-0.732-0.45-1.098-1.35-1.098
	c-0.602,0-1.188,0.194-1.758,0.584v-1.62c0.632-0.318,1.368-0.477,2.21-0.477c0.92,0,1.637,0.207,2.149,0.622
	c0.514,0.415,0.77,0.952,0.77,1.613c0,1.176-0.597,1.913-1.789,2.21v0.03c0.636,0.079,1.138,0.311,1.507,0.693
	c0.368,0.382,0.553,0.853,0.553,1.409c0,0.841-0.308,1.506-0.923,1.996c-0.615,0.489-1.465,0.734-2.549,0.734
	c-0.93,0-1.685-0.15-2.267-0.452v-1.727c0.603,0.439,1.306,0.659,2.109,0.659C19.434,24.004,19.828,23.896,20.111,23.678z
	 M23.467,7.429c-1.166,0-2.109-0.944-2.109-2.109v-2.21C21.357,1.944,22.301,1,23.467,1c1.165,0,2.109,0.944,2.109,2.109v2.21
	C25.576,6.485,24.632,7.429,23.467,7.429z M8.467,7.429c-1.166,0-2.109-0.944-2.109-2.109v-2.21C6.357,1.944,7.301,1,8.467,1
	c1.165,0,2.109,0.944,2.109,2.109v2.21C10.576,6.485,9.632,7.429,8.467,7.429z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-check"><title>check</title> <path d="M30.668,7.572l-2.409-2.409c-0.443-0.443-1.161-0.443-1.604,0L12.216,19.602l-6.868-6.917c-0.444-0.443-1.161-0.443-1.606,0
	l-2.408,2.408c-0.444,0.445-0.444,1.163,0,1.606l10.07,10.138c0.444,0.443,1.163,0.443,1.605,0l17.659-17.66
	C31.111,8.735,31.111,8.015,30.668,7.572z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-chevron-down"><title>chevron-down</title> <path d="M1.352,9.793l3.089-3.07C4.678,6.49,4.957,6.371,5.28,6.371S5.883,6.49,6.12,6.723L16,16.605l9.88-9.883
	c0.237-0.232,0.517-0.352,0.84-0.352s0.603,0.119,0.84,0.352l3.089,3.07C30.882,10.03,31,10.31,31,10.641
	c0,0.327-0.118,0.609-0.352,0.847L16.84,25.276c-0.237,0.235-0.517,0.353-0.84,0.353s-0.603-0.117-0.84-0.353L1.352,11.487
	C1.118,11.25,1,10.968,1,10.641C1,10.31,1.118,10.03,1.352,9.793z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-chevron-left"><title>chevron-left</title> <path d="M22.207,1.352l3.07,3.089c0.232,0.237,0.352,0.517,0.352,0.84s-0.119,0.603-0.352,0.84L15.395,16l9.883,9.88
	c0.232,0.237,0.352,0.517,0.352,0.84s-0.119,0.603-0.352,0.84l-3.07,3.089C21.97,30.882,21.69,31,21.359,31
	c-0.327,0-0.609-0.118-0.847-0.352L6.724,16.84C6.488,16.603,6.371,16.323,6.371,16s0.117-0.603,0.353-0.84L20.513,1.352
	C20.75,1.118,21.032,1,21.359,1C21.69,1,21.97,1.118,22.207,1.352z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-chevron-right"><title>chevron-right</title> <path d="M9.793,30.648l-3.07-3.089c-0.232-0.237-0.352-0.517-0.352-0.84s0.119-0.603,0.352-0.84L16.605,16L6.723,6.12
	C6.49,5.883,6.371,5.604,6.371,5.28S6.49,4.678,6.723,4.44l3.07-3.089C10.03,1.118,10.31,1,10.641,1
	c0.327,0,0.609,0.118,0.847,0.352L25.276,15.16c0.235,0.237,0.353,0.517,0.353,0.84s-0.117,0.603-0.353,0.84L11.487,30.648
	C11.25,30.882,10.968,31,10.641,31C10.31,31,10.03,30.882,9.793,30.648z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-chevron-up"><title>chevron-up</title> <path d="M30.648,22.207l-3.089,3.07c-0.237,0.232-0.517,0.352-0.84,0.352s-0.603-0.119-0.84-0.352L16,15.395l-9.88,9.883
	c-0.237,0.232-0.517,0.352-0.84,0.352s-0.603-0.119-0.84-0.352l-3.089-3.07C1.118,21.97,1,21.69,1,21.359
	c0-0.327,0.118-0.609,0.352-0.847L15.16,6.724c0.237-0.235,0.517-0.353,0.84-0.353s0.603,0.117,0.84,0.353l13.809,13.789
	C30.882,20.75,31,21.032,31,21.359C31,21.69,30.882,21.97,30.648,22.207z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-clipboard"><title>clipboard</title> <g> <path d="M27,31V5h-6V4.5C21,3.673,20.327,3,19.5,3h-0.524c-0.232-1.154-1.254-2.025-2.476-2.025S14.257,1.846,14.024,3H13.5
		C12.673,3,12,3.673,12,4.5V5H6v26H27z M13,6V5V4.5C13,4.224,13.225,4,13.5,4H15V3.5c0-0.841,0.659-1.525,1.5-1.525S18,2.659,18,3.5
		V4h1.5C19.775,4,20,4.224,20,4.5V5v1v0.5C20,6.776,19.775,7,19.5,7h-6C13.225,7,13,6.776,13,6.5V6z M26,30H7V6h5v0.5
		C12,7.327,12.673,8,13.5,8h6C20.327,8,21,7.327,21,6.5V6h5V30z"/> <path d="M12.562,15.986c-0.311-0.311-0.813-0.311-1.125,0c-0.311,0.311-0.311,0.814,0,1.125l2.812,2.812
		c0.311,0.312,0.814,0.312,1.125,0l6.188-6.187c0.311-0.311,0.311-0.814,0-1.125c-0.312-0.311-0.814-0.311-1.125,0l-5.625,5.625
		L12.562,15.986z"/> </g> </symbol><symbol viewBox="0 0 32 32" id="icon-clock"><title>clock</title> <path d="M20.299,22.951l-6.174-6.175V8.5h3.75v6.724l5.076,5.075L20.299,22.951z M16,1C7.716,1,1,7.715,1,16c0,8.284,6.716,15,15,15
	s15-6.716,15-15C31,7.715,24.284,1,16,1z M16,27.25C9.787,27.25,4.75,22.213,4.75,16S9.787,4.75,16,4.75S27.25,9.787,27.25,16
	S22.213,27.25,16,27.25z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-close"><title>close</title> <path d="M20.678,16l9.354-9.354c1.289-1.292,1.29-3.387,0-4.678c-1.292-1.291-3.387-1.291-4.678,0L16,11.323L6.646,1.969
	c-1.29-1.291-3.386-1.291-4.678,0c-1.29,1.291-1.29,3.386,0,4.678L11.322,16l-9.354,9.354c-1.289,1.29-1.29,3.386,0,4.677
	c1.292,1.291,3.388,1.291,4.678,0L16,20.678l9.354,9.354c1.291,1.291,3.386,1.291,4.678,0c1.289-1.291,1.29-3.387,0-4.677L20.678,16
	z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-code"><title>code</title> <path d="M21.506,10.034L21.506,10.034c-1.05,0.058-1.368,1.455-0.447,1.962l6.826,3.98l-6.826,3.979
	c-0.534,0.272-0.73,0.938-0.431,1.456c0.302,0.52,0.975,0.682,1.478,0.354l8.374-4.884c0.694-0.403,0.694-1.407,0-1.81l-8.374-4.884
	C21.926,10.076,21.717,10.023,21.506,10.034z M10.353,10.034L10.353,10.034c-0.162,0.014-0.32,0.067-0.458,0.153l-8.374,4.884
	c-0.694,0.403-0.694,1.407,0,1.81l8.374,4.884c0.503,0.327,1.176,0.165,1.478-0.354c0.3-0.519,0.104-1.184-0.431-1.456l-6.826-3.979
	l6.826-3.98C11.937,11.455,11.48,9.938,10.353,10.034z M18.061,7.581L18.061,7.581c-0.458,0.019-0.851,0.331-0.971,0.774
	l-4.187,14.653c-0.213,0.571,0.107,1.201,0.692,1.37c0.585,0.17,1.19-0.195,1.314-0.792l4.187-14.653
	C19.306,8.246,18.778,7.557,18.061,7.581z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-error"><title>error</title> <path d="M17.479,17.478V8.462h-2.957v9.016H17.479z M17.479,23.534v-3.028h-2.957v3.028H17.479z M16,0.999
	c4.132,0,7.664,1.467,10.599,4.401C29.533,8.335,31,11.869,31,16c0,4.132-1.467,7.664-4.401,10.6
	c-2.935,2.935-6.467,4.402-10.599,4.402S8.336,29.534,5.401,26.6C2.467,23.664,1,20.132,1,16c0-4.131,1.467-7.665,4.401-10.6
	C8.336,2.466,11.868,0.999,16,0.999z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-facebook"><title>facebook</title> <path d="M26,1H6C3.239,1,1,3.239,1,6v19.999C1,28.761,3.237,31,6,31h10V17.875h-3.75v-3.75H16v-2.812
	c0-2.588,2.099-4.688,4.688-4.688h4.688v3.75h-4.688c-0.518,0-0.938,0.42-0.938,0.938v2.812h5.156l-0.938,3.75H19.75V31H26
	c2.761,0,5-2.239,5-5.001V6C31,3.239,28.763,1,26,1z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-feed"><title>feed</title> <path d="M4.992,23C2.79,23,1,24.797,1,26.986c0,2.203,1.79,3.979,3.992,3.979c2.211,0,3.998-1.775,3.998-3.979
	C8.99,24.797,7.203,23,4.992,23z M1.005,11.193v5.75c3.743,0,7.265,1.465,9.916,4.117c2.648,2.646,4.109,6.183,4.109,9.94h5.775
	C20.806,20.078,11.92,11.193,1.005,11.193z M1.011,1v5.752c13.354,0,24.222,10.879,24.222,24.248H31C31,14.462,17.545,1,1.011,1z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-filter"><title>filter</title> <g> <rect x="1" y="5" width="30" height="5"/> <rect x="6" y="14" width="20" height="5"/> <rect x="12" y="23" width="8" height="5"/> </g> </symbol><symbol viewBox="0 0 32 32" id="icon-flag"><title>flag</title> <path d="M19.306,4.556h9.917v17.604H16.826l-0.661-3.472H6.248V31H2.777V1h15.867L19.306,4.556z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-flame"><title>flame</title> <path d="M11.183,9.053c0.371-1.344,0.854-2.456,1.449-3.333c0.595-0.877,1.308-1.726,2.137-2.548
	c0.828-0.821,1.412-1.355,1.75-1.604C16.856,1.317,17.13,1.128,17.34,1c-0.821,2.398-1.212,4.471-1.172,6.217
	s0.396,3.159,1.062,4.238c0.669,1.078,1.639,1.883,2.91,2.415c0.29,0.113,0.554,0.185,0.797,0.217
	c1.143,0.08,1.399-1.159,0.772-3.717c-0.338-1.37-0.685-2.407-1.038-3.116c2.639,1.754,4.624,3.996,5.951,6.725
	c1.328,2.729,1.686,5.478,1.074,8.245c-0.241,1.08-0.619,2.061-1.135,2.946c-0.515,0.886-1.043,1.599-1.581,2.138
	c-0.54,0.539-1.24,1.053-2.101,1.545c-0.861,0.49-1.565,0.849-2.112,1.073c-0.548,0.226-1.28,0.5-2.197,0.82
	c-0.387,0.098-0.726,0.162-1.015,0.193c-0.29,0.033-0.535,0.054-0.736,0.061c-0.201,0.009-0.358-0.032-0.471-0.121
	c-0.113-0.087-0.201-0.165-0.266-0.229c-0.064-0.064-0.085-0.189-0.061-0.375s0.049-0.338,0.072-0.459
	c0.024-0.121,0.097-0.31,0.218-0.567c0.12-0.258,0.217-0.467,0.289-0.627c0.073-0.16,0.189-0.395,0.351-0.701
	c0.354-0.707,0.656-1.354,0.905-1.942c0.25-0.589,0.415-1.147,0.496-1.679c0.273-1.608,0.063-3.091-0.629-4.442
	s-1.674-2.672-2.945-3.96c0.321,0.628,0.426,1.897,0.313,3.803c-0.112,1.908-0.426,3.393-0.941,4.454
	c-0.241,0.483-0.522,0.97-0.845,1.461S12.6,26.602,12.149,27.1c-0.451,0.499-0.91,0.897-1.376,1.194
	c-0.468,0.299-0.966,0.487-1.498,0.567c-0.531,0.081-1.047-0.047-1.545-0.385c-1.127-0.726-1.972-1.6-2.535-2.621
	s-0.918-1.983-1.062-2.884c-0.081-0.484-0.121-0.991-0.121-1.521c0-0.531,0.061-1.216,0.181-2.054
	c0.121-0.836,0.435-1.697,0.941-2.583c0.508-0.885,1.179-1.698,2.017-2.439c-0.227,0.515-0.311,1.119-0.254,1.811
	c0.056,0.693,0.177,1.349,0.362,1.968c0.186,0.621,0.512,1.114,0.978,1.485c0.467,0.371,1.007,0.475,1.618,0.314
	c0.29-0.064,0.539-0.162,0.748-0.291s0.378-0.292,0.508-0.495c0.127-0.201,0.237-0.393,0.325-0.578
	c0.089-0.186,0.137-0.438,0.146-0.761c0.008-0.322,0.016-0.591,0.023-0.81c0.008-0.217-0.021-0.536-0.084-0.953
	c-0.064-0.42-0.113-0.737-0.145-0.954c-0.033-0.217-0.097-0.563-0.194-1.039c-0.096-0.475-0.16-0.808-0.192-1.001
	C10.748,11.736,10.812,10.396,11.183,9.053z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-gear"><title>gear</title> <path d="M16,21.406c1.49,0,2.764-0.528,3.82-1.586c1.058-1.056,1.586-2.329,1.586-3.819s-0.528-2.763-1.586-3.819
	c-1.057-1.058-2.33-1.586-3.82-1.586s-2.764,0.528-3.82,1.586c-1.058,1.056-1.586,2.329-1.586,3.819s0.528,2.763,1.586,3.819
	C13.236,20.878,14.51,21.406,16,21.406z M27.462,17.514l3.244,2.523c0.336,0.24,0.384,0.576,0.144,1.009l-3.1,5.335
	c-0.192,0.336-0.505,0.432-0.938,0.288l-3.82-1.513c-1.009,0.721-1.874,1.225-2.595,1.513l-0.577,4.037
	c-0.096,0.432-0.336,0.648-0.721,0.648H12.9c-0.385,0-0.625-0.217-0.721-0.648l-0.577-4.037c-0.913-0.385-1.778-0.89-2.595-1.513
	l-3.82,1.513c-0.433,0.146-0.745,0.048-0.938-0.288l-3.1-5.335c-0.24-0.433-0.192-0.769,0.144-1.009l3.244-2.523
	C4.49,17.178,4.466,16.673,4.466,16s0.024-1.177,0.072-1.514l-3.244-2.523c-0.336-0.241-0.384-0.575-0.144-1.009l3.1-5.334
	c0.192-0.336,0.505-0.433,0.938-0.289l3.82,1.513c1.006-0.721,1.874-1.224,2.595-1.513l0.577-4.037
	c0.096-0.433,0.336-0.649,0.721-0.649H19.1c0.385,0,0.625,0.216,0.721,0.649l0.577,4.037c0.913,0.385,1.778,0.889,2.595,1.513
	l3.82-1.513c0.433-0.146,0.745-0.048,0.938,0.289l3.1,5.334c0.24,0.434,0.192,0.769-0.144,1.009l-3.244,2.523
	c0.048,0.336,0.072,0.841,0.072,1.514S27.51,17.178,27.462,17.514z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-google-plus"><title>google-plus</title> <path d="M17.379,3.327c0,0-5.887,0-7.85,0c-3.52,0-6.832,2.666-6.832,5.755c0,3.155,2.399,5.703,5.98,5.703
	c0.249,0,0.49-0.005,0.727-0.022c-0.232,0.445-0.398,0.946-0.398,1.466c0,0.877,0.472,1.588,1.068,2.168
	c-0.45,0-0.886,0.014-1.36,0.014C4.355,18.41,1,21.186,1,24.064c0,2.836,3.678,4.609,8.037,4.609c4.97,0,7.714-2.821,7.714-5.655
	c0-2.273-0.671-3.635-2.745-5.102c-0.709-0.503-2.066-1.724-2.066-2.441c0-0.841,0.24-1.256,1.506-2.246
	c1.3-1.014,2.218-2.44,2.218-4.099c0-1.975-0.879-3.899-2.53-4.535h2.49L17.379,3.327L17.379,3.327z M14.637,22.529
	c0.062,0.264,0.096,0.534,0.096,0.81c0,2.292-1.476,4.081-5.711,4.081c-3.014,0-5.188-1.907-5.188-4.198
	c0-2.245,2.698-4.114,5.711-4.081c0.703,0.007,1.358,0.12,1.953,0.312C13.133,20.591,14.307,21.233,14.637,22.529L14.637,22.529z
	 M9.812,13.985c-2.021-0.061-3.943-2.262-4.293-4.918C5.17,6.411,6.526,4.378,8.549,4.438c2.022,0.061,3.943,2.191,4.294,4.848
	C13.192,11.942,11.834,14.046,9.812,13.985z M25.375,8.952V3.327H23.5v5.625h-5.625v1.875H23.5v5.625h1.875v-5.625H31V8.952H25.375z
	"/> </symbol><symbol viewBox="0 0 32 32" id="icon-heart"><title>heart</title> <path d="M16,29.768l-2.183-1.972c-2.488-2.254-4.296-3.92-5.423-5s-2.383-2.418-3.768-4.014c-1.385-1.598-2.336-3.041-2.851-4.332
	C1.26,13.159,1.002,11.834,1,10.473c0-2.301,0.786-4.249,2.359-5.847c1.572-1.596,3.532-2.394,5.88-2.394
	c2.724,0,4.977,1.056,6.761,3.168c1.784-2.112,4.037-3.168,6.761-3.168c2.348,0,4.308,0.798,5.88,2.394
	C30.214,6.224,31,8.172,31,10.473c0,1.83-0.61,3.732-1.831,5.704c-1.222,1.972-2.547,3.685-3.979,5.141
	c-1.433,1.455-3.768,3.638-7.008,6.549L16,29.768z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-home"><title>home</title> <path d="M31,18.344l-5.625-5.625V4.281h-3.75v4.688L16,3.344l-15,15v0.938h3.75v9.375h9.375v-5.625h3.75v5.625h9.375v-9.375H31
	V18.344z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-instagram"><title>instagram</title> <path d="M26.02,1H5.98C3.241,1,1,3.242,1,5.981V26.02C1,28.759,3.241,31,5.98,31H26.02c2.739,0,4.98-2.241,4.98-4.98V5.981
	C31,3.242,28.759,1,26.02,1z M10.604,14.125h10.792c0.204,0.588,0.316,1.219,0.316,1.875c0,3.149-2.563,5.713-5.713,5.713
	S10.287,19.149,10.287,16C10.287,15.344,10.399,14.713,10.604,14.125z M27.25,14.127v11.248c0,1.03-0.845,1.875-1.875,1.875H6.625
	c-1.03,0-1.875-0.845-1.875-1.875v-11.25h2.933C7.546,14.729,7.475,15.355,7.475,16c0,4.7,3.823,8.525,8.525,8.525
	s8.525-3.823,8.525-8.525c0-0.645-0.071-1.271-0.208-1.875L27.25,14.127z M27.25,7.562c0,0.516-0.422,0.938-0.938,0.938h-1.875
	c-0.516,0-0.938-0.422-0.938-0.938V5.688c0-0.516,0.422-0.938,0.938-0.938h1.875c0.516,0,0.938,0.422,0.938,0.938V7.562z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-location"><title>location</title> <path d="M15.941,31c0,0-9.316-13.184-9.316-18.808C6.625,1.117,15.941,1,15.941,1s9.434,0.117,9.434,11.133
	C25.375,17.934,15.941,31,15.941,31z M16,6.625c-2.071,0-3.75,1.679-3.75,3.75s1.679,3.75,3.75,3.75s3.75-1.679,3.75-3.75
	S18.071,6.625,16,6.625z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-loupe"><title>loupe</title> <path d="M31,28.009l-10.019-10.02c2.846-4.242,2.396-10.051-1.35-13.797C15.374-0.067,8.451-0.065,4.193,4.193v0.001
	c-4.258,4.258-4.258,11.18,0,15.438c3.746,3.746,9.555,4.195,13.797,1.35l10.019,10.02L31,28.009z M5.031,18.794
	c-3.806-3.804-3.806-9.956,0-13.761V5.032c3.805-3.806,9.957-3.807,13.763-0.001c3.805,3.805,3.805,9.959,0,13.763
	C14.988,22.601,8.836,22.599,5.031,18.794z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-mail"><title>mail</title> <path d="M28.272,26.909H3.728C2.223,26.909,1,25.687,1,24.182V7.818c0-1.506,1.223-2.728,2.728-2.728h24.545
	C29.777,5.091,31,6.312,31,7.818v16.363C31,25.687,29.777,26.909,28.272,26.909z M26.909,24.182l-7.817-6.839L16,20.091
	l-3.092-2.748l-7.817,6.839H26.909z M3.728,22.818L11.397,16l-7.67-6.818V22.818z M5.091,7.818L16,17.363l10.909-9.545H5.091z
	 M28.272,9.182L20.603,16l7.67,6.818V9.182z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-menu"><title>menu</title> <g> <path d="M30,25H2c-0.552,0-1,0.447-1,1v4c0,0.553,0.448,1,1,1h28c0.552,0,1-0.447,1-1v-4C31,25.447,30.552,25,30,25z"/> <path d="M30,1H2C1.448,1,1,1.447,1,2v4c0,0.553,0.448,1,1,1h28c0.552,0,1-0.447,1-1V2C31,1.447,30.552,1,30,1z"/> <path d="M30,13H2c-0.552,0-1,0.447-1,1v4c0,0.553,0.448,1,1,1h28c0.552,0,1-0.447,1-1v-4C31,13.447,30.552,13,30,13z"/> </g> </symbol><symbol viewBox="0 0 32 32" id="icon-minus"><title>minus</title> <path d="M1,13.188v5.625c0,0.518,0.42,0.938,0.938,0.938h28.125c0.518,0,0.938-0.42,0.938-0.938v-5.625
	c0-0.517-0.42-0.938-0.938-0.938H1.938C1.42,12.25,1,12.67,1,13.188z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-option-horizontal"><title>option-horizontal</title> <path d="M8.542,16c0,0.994-0.38,1.871-1.139,2.632c-0.761,0.761-1.638,1.141-2.632,1.141c-0.995,0-1.872-0.38-2.633-1.141
	C1.381,17.871,1,16.994,1,16s0.381-1.872,1.139-2.633c0.761-0.76,1.638-1.14,2.633-1.14c0.994,0,1.871,0.38,2.632,1.14
	C8.162,14.128,8.542,15.006,8.542,16z M19.773,16c0,0.994-0.381,1.871-1.14,2.632c-0.761,0.761-1.638,1.141-2.632,1.141
	c-0.995,0-1.872-0.38-2.633-1.141C12.611,17.871,12.23,16.994,12.23,16s0.381-1.872,1.139-2.633c0.761-0.76,1.638-1.14,2.633-1.14
	c0.994,0,1.871,0.38,2.632,1.14C19.393,14.128,19.773,15.006,19.773,16z M23.457,16c0-0.994,0.38-1.872,1.139-2.633
	c0.761-0.76,1.639-1.14,2.633-1.14s1.871,0.38,2.632,1.14C30.62,14.128,31,15.006,31,16s-0.38,1.871-1.14,2.632
	c-0.761,0.761-1.638,1.141-2.632,1.141s-1.872-0.38-2.633-1.141C23.837,17.871,23.457,16.994,23.457,16z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-option-vertical"><title>option-vertical</title> <path d="M16,23.458c0.994,0,1.871,0.38,2.632,1.139c0.761,0.761,1.141,1.638,1.141,2.632c0,0.995-0.38,1.872-1.141,2.633
	C17.871,30.619,16.994,31,16,31s-1.872-0.381-2.633-1.139c-0.76-0.761-1.14-1.638-1.14-2.633c0-0.994,0.38-1.871,1.14-2.632
	C14.128,23.838,15.006,23.458,16,23.458z M16,12.227c0.994,0,1.871,0.38,2.632,1.14c0.761,0.76,1.141,1.638,1.141,2.632
	s-0.38,1.872-1.141,2.632C17.871,19.389,16.994,19.77,16,19.77s-1.872-0.381-2.633-1.139c-0.76-0.761-1.14-1.638-1.14-2.632
	s0.38-1.872,1.14-2.632C14.128,12.607,15.006,12.227,16,12.227z M16,8.543c-0.994,0-1.872-0.38-2.633-1.14
	c-0.76-0.76-1.14-1.638-1.14-2.632c0-0.994,0.38-1.872,1.14-2.632C14.128,1.38,15.006,1,16,1s1.871,0.38,2.632,1.14
	c0.761,0.76,1.141,1.638,1.141,2.632c0,0.995-0.38,1.872-1.141,2.632C17.871,8.163,16.994,8.543,16,8.543z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-pencil"><title>pencil</title> <path d="M29.287,8.07l-0.293,0.294l-5.369-5.371l0.293-0.294c0,0,1.285-1.699,3.114-1.699c0.806,0,1.718,0.331,2.671,1.284
	C32.849,5.429,29.287,8.07,29.287,8.07z M27.23,10.128L8.95,28.416L0.999,31l2.584-7.953v-0.004h0.002L21.863,4.756L22.1,4.993
	L27.23,10.128z M3.587,28.412l3.973-1.144l-2.713-2.89L3.587,28.412z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-picture"><title>picture</title> <path d="M7.923,12.539c0-1.275,1.032-2.308,2.308-2.308s2.308,1.033,2.308,2.308s-1.032,2.308-2.308,2.308
	S7.923,13.813,7.923,12.539z M18.308,13.692l-5.77,5.77l-2.308-2.308L5.615,21.77h20.77L18.308,13.692z M28.692,5.615H3.308
	C2.034,5.615,1,6.649,1,7.923v16.154c0,1.273,1.034,2.308,2.308,2.308h25.385c1.273,0,2.308-1.034,2.308-2.308V7.923
	C31,6.649,29.966,5.615,28.692,5.615z M28.692,24.077H3.308V7.923h25.385V24.077z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-pinterest"><title>pinterest</title> <path d="M16,1C7.716,1,1,7.715,1,16c0,6.354,3.953,11.784,9.533,13.967c-0.131-1.187-0.25-3.006,0.053-4.303
	c0.272-1.17,1.758-7.456,1.758-7.456s-0.449-0.897-0.449-2.227c0-2.086,1.21-3.643,2.714-3.643c1.28,0,1.897,0.961,1.897,2.113
	c0,1.288-0.819,3.21-1.242,4.995c-0.354,1.494,0.749,2.712,2.222,2.712c2.666,0,4.715-2.812,4.715-6.87
	c0-3.591-2.58-6.103-6.265-6.103c-4.268,0-6.773,3.202-6.773,6.509c0,1.289,0.497,2.672,1.116,3.423
	c0.122,0.148,0.141,0.278,0.104,0.431c-0.114,0.474-0.367,1.492-0.416,1.701c-0.066,0.274-0.218,0.333-0.502,0.201
	C7.592,20.577,6.42,17.838,6.42,15.64c0-4.732,3.438-9.077,9.911-9.077c5.202,0,9.247,3.708,9.247,8.664
	c0,5.17-3.259,9.331-7.783,9.331c-1.52,0-2.948-0.789-3.438-1.724c0,0-0.752,2.864-0.935,3.565
	c-0.338,1.304-1.253,2.938-1.865,3.934C12.961,30.766,14.453,31,16,31c8.283,0,15-6.715,15-15S24.284,1,16,1L16,1z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-play"><title>play</title> <path d="M3.5,1l25,15l-25,15V1z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-plus"><title>plus</title> <path d="M30.062,12.25H19.75V1.938C19.75,1.42,19.33,1,18.812,1h-5.625C12.67,1,12.25,1.42,12.25,1.938V12.25H1.938
	C1.42,12.25,1,12.67,1,13.188v5.625c0,0.518,0.42,0.938,0.938,0.938H12.25v10.312c0,0.518,0.42,0.938,0.938,0.938h5.625
	c0.518,0,0.938-0.42,0.938-0.938V19.75h10.312c0.518,0,0.938-0.42,0.938-0.938v-5.625C31,12.67,30.58,12.25,30.062,12.25z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-reddit"><title>reddit</title> <path d="M8.499,17.874c0-1.036,0.839-1.875,1.875-1.875s1.875,0.839,1.875,1.875s-0.839,1.875-1.875,1.875S8.499,18.91,8.499,17.874
	z M19.749,17.874c0-1.036,0.839-1.875,1.875-1.875s1.875,0.839,1.875,1.875s-0.839,1.875-1.875,1.875S19.749,18.91,19.749,17.874z
	 M19.841,21.881c0.481-0.381,1.183-0.297,1.563,0.187c0.38,0.481,0.297,1.183-0.187,1.563c-1.344,1.059-3.393,1.743-5.219,1.743
	s-3.874-0.685-5.219-1.743c-0.483-0.381-0.566-1.082-0.187-1.563c0.381-0.483,1.082-0.567,1.563-0.187
	c0.774,0.61,2.308,1.267,3.842,1.267S19.066,22.491,19.841,21.881z M30.999,14.124c0-2.071-1.679-3.75-3.75-3.75
	c-1.41,0-2.637,0.778-3.276,1.929c-1.928-1.055-4.276-1.735-6.835-1.893l2.238-5.025l4.283,1.237
	C24.045,7.715,25.087,8.5,26.312,8.5c1.554,0,2.812-1.259,2.812-2.812s-1.259-2.812-2.812-2.812c-1.07,0-2.002,0.599-2.477,1.48
	l-4.773-1.378c-0.534-0.154-1.099,0.109-1.326,0.617l-3.039,6.827c-2.495,0.175-4.783,0.851-6.67,1.882
	c-0.64-1.15-1.868-1.928-3.277-1.928c-2.071,0-3.75,1.679-3.75,3.75c0,1.533,0.92,2.849,2.238,3.431
	c-0.236,0.704-0.363,1.439-0.363,2.194c0,5.178,5.877,9.375,13.125,9.375s13.125-4.197,13.125-9.375
	c0-0.755-0.125-1.489-0.363-2.193C30.08,16.975,31,15.658,30.999,14.124L30.999,14.124z M26.312,4.632
	c0.582,0,1.055,0.473,1.055,1.055c0,0.583-0.473,1.055-1.055,1.055s-1.055-0.472-1.055-1.055
	C25.257,5.104,25.729,4.632,26.312,4.632z M2.874,14.124c0-1.034,0.841-1.875,1.875-1.875c0.747,0,1.394,0.439,1.695,1.073
	c-0.979,0.743-1.792,1.6-2.393,2.542C3.363,15.587,2.874,14.912,2.874,14.124z M15.999,26.897c-6.019,0-10.898-3.2-10.898-7.148
	c0-3.948,4.88-7.148,10.898-7.148s10.898,3.201,10.898,7.148C26.897,23.697,22.018,26.897,15.999,26.897z M27.946,15.864
	c-0.601-0.939-1.413-1.798-2.393-2.542c0.302-0.634,0.948-1.073,1.695-1.073c1.034,0,1.875,0.841,1.875,1.875
	C29.124,14.912,28.637,15.587,27.946,15.864z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-reload"><title>reload</title> <g> <path d="M27.065,5.873C24.323,2.878,20.381,1,16,1C7.716,1,1,7.715,1,16h2.812C3.812,9.269,9.269,3.812,16,3.812
		c3.604,0,6.842,1.564,9.073,4.052l-4.386,4.385H31V1.938L27.065,5.873L27.065,5.873z"/> <path d="M28.188,16c0,6.73-5.457,12.188-12.188,12.188c-3.604,0-6.842-1.564-9.073-4.052l4.386-4.386H1v10.312l3.935-3.935
		C7.677,29.122,11.619,31,16,31c8.284,0,15-6.716,15-15H28.188z"/> </g> </symbol><symbol viewBox="0 0 32 32" id="icon-scroll-top"><title>scroll-top</title> <path d="M24,9l-8-8L8,9h5v6h0.005c0,1.654,1.341,2.995,2.995,2.995s2.995-1.341,2.995-2.995H19V9H24z"/> <g> <path d="M4.154,19.707h7.255v1.595H8.955v9.571H6.608v-9.571H4.154V19.707z"/> <path d="M12.245,22.386c0-1.785,1.259-2.806,3.563-2.806s3.562,1.021,3.562,2.806v5.808c0,1.786-1.258,2.807-3.562,2.807
		s-3.563-1.021-3.563-2.807V22.386z M14.592,28.305c0,0.797,0.471,1.1,1.217,1.1s1.215-0.303,1.215-1.1v-6.03
		c0-0.798-0.469-1.1-1.215-1.1s-1.217,0.302-1.217,1.1V28.305z"/> <path d="M27.846,22.467v1.451c0,1.786-1.152,2.761-3.498,2.761h-1.111v4.194h-2.346V19.707h3.457
		C26.693,19.707,27.846,20.681,27.846,22.467z M23.236,21.302v3.78h1.111c0.746,0,1.152-0.255,1.152-1.052v-1.675
		c0-0.799-0.406-1.054-1.152-1.054H23.236z"/> </g> </symbol><symbol viewBox="0 0 32 32" id="icon-share"><title>share</title> <path d="M26.312,21.624c-1.323,0-2.518,0.55-3.369,1.43l-12.627-6.312c0.038-0.242,0.059-0.49,0.059-0.742s-0.021-0.501-0.059-0.742
	l12.627-6.313c0.852,0.881,2.046,1.431,3.369,1.431c2.589,0,4.688-2.099,4.688-4.688s-2.099-4.688-4.688-4.688
	S21.625,3.1,21.625,5.688c0,0.252,0.021,0.501,0.059,0.742L9.057,12.743c-0.852-0.881-2.046-1.431-3.369-1.431
	C3.099,11.312,1,13.412,1,16c0,2.588,2.099,4.688,4.688,4.688c1.323,0,2.518-0.549,3.369-1.431l12.627,6.313
	c-0.038,0.241-0.059,0.488-0.059,0.741c0,2.588,2.099,4.688,4.688,4.688S31,28.899,31,26.312S28.901,21.624,26.312,21.624z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-star"><title>star</title> <path d="M16,24.625l-9.297,5.634l2.465-10.563L1,12.584l10.773-0.914L16,1.741l4.225,9.929L31,12.584l-8.17,7.111l2.465,10.563
	L16,24.625z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-tag"><title>tag</title> <path d="M29.565,1H18.093c-0.789,0-1.891,0.456-2.448,1.014L1.418,16.24c-0.558,0.559-0.558,1.472,0,2.028l12.314,12.314
	c0.556,0.558,1.47,0.558,2.027,0l14.227-14.226C30.542,15.798,31,14.697,31,13.908V2.434C31,1.646,30.354,1,29.565,1z
	 M22.395,12.474c-1.584,0-2.868-1.284-2.868-2.869s1.284-2.868,2.868-2.868c1.585,0,2.869,1.284,2.869,2.868
	S23.979,12.474,22.395,12.474z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-trash"><title>trash</title> <path d="M6.4,27.4c0,1.987,1.611,3.6,3.6,3.6h12c1.987,0,3.6-1.612,3.6-3.6L28,8.2H4L6.4,27.4z M19.6,11.8H22V27.4h-2.4V11.8z
	 M14.8,11.8h2.4V27.4h-2.4V11.8z M10,11.8h2.4V27.4H10V11.8z M27.4,3.4H19.6c0,0-0.537-2.4-1.199-2.4H13.6
	C12.937,1,12.4,3.4,12.4,3.4H4.6c-0.994,0-1.8,0.805-1.8,1.8c0,0.995,0,1.8,0,1.8h26.4c0,0,0-0.805,0-1.8
	C29.2,4.205,28.394,3.4,27.4,3.4z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-twitch"><title>twitch</title> <g> <path d="M4.75,1L1.938,5.688V27.25h7.5V31h3.75l3.75-3.75h4.688l8.438-8.438V1H4.75z M26.312,16.938l-4.688,4.688h-4.688
		l-3.75,3.75v-3.75H7.562V4.75h18.75V16.938z"/> <path d="M19.75,8.5h2.812V16H19.75V8.5z"/> <path d="M14.125,8.5h2.812V16h-2.812V8.5z"/> </g> </symbol><symbol viewBox="0 0 32 32" id="icon-twitter"><title>twitter</title> <path d="M31,6.696c-1.103,0.489-2.291,0.82-3.536,0.969c1.271-0.762,2.247-1.968,2.708-3.404c-1.189,0.705-2.508,1.218-3.909,1.493
	c-1.122-1.196-2.723-1.943-4.493-1.943c-3.398,0-6.154,2.755-6.154,6.154c0,0.483,0.055,0.953,0.159,1.402
	C10.66,11.111,6.125,8.66,3.089,4.937C2.561,5.846,2.256,6.902,2.256,8.031c0,2.135,1.086,4.019,2.737,5.123
	c-1.009-0.031-1.957-0.309-2.786-0.77c-0.002,0.025-0.002,0.052-0.002,0.078c0,2.982,2.122,5.469,4.937,6.034
	c-0.517,0.142-1.061,0.217-1.622,0.217c-0.396,0-0.782-0.039-1.158-0.112c0.784,2.444,3.057,4.225,5.75,4.274
	c-2.105,1.651-4.761,2.635-7.645,2.635c-0.496,0-0.985-0.029-1.467-0.086c2.723,1.746,5.958,2.765,9.434,2.765
	c11.321,0,17.512-9.379,17.512-17.512c0-0.268-0.005-0.533-0.018-0.796C29.131,9.014,30.174,7.93,31,6.696L31,6.696z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-user"><title>user</title> <path d="M25.911,25.583c0,0-6.282-1.617-6.984-2.32c-0.493-0.492-0.586-1.395-0.601-1.632c1.914-0.884,3.852-2.73,4.168-4.919
	c0,0,1.296-0.218,1.451-1.614c0.094-0.843-0.152-1.426-0.782-1.426l0.003-5.347c0.498-0.364,0.545-0.974,0.545-0.974
	c0-1.444-1.211-2.363-2.656-2.363c-0.24,0-0.473,0.088-0.693,0.148c-0.039-1.615-2.006-3.387-5-3.387c-0.117,0-0.205,0-0.275,0
	c-0.155,0-0.208,0-0.208,0c-0.114,0-0.284,0-0.536,0c-3.489,0-6.568,1.863-6.568,1.863s0.19,2.309,1.989,3.046
	c0,0-1.265,0.667-1.265,2.542c0,1.017,0,4.5,0,4.5S7.94,14.141,7.94,14.968c0,1.557,1.507,1.788,1.507,1.788
	c0.301,2.153,2.244,3.952,4.194,4.84c-0.009,0.161-0.056,1.146-0.579,1.667c-0.701,0.703-6.979,2.32-6.979,2.32
	C3.438,26.381,1,27.482,1,29.313c0,0.946,0,0.937,0,0.937h30c0,0,0,0.013,0-0.937C31,27.482,28.56,26.381,25.911,25.583z"/> </symbol><symbol viewBox="0 0 32 32" id="icon-youtube"><title>youtube</title> <g> <path d="M9.59,1L7.562,5.021L5.536,1H2.95l3.653,6.366l0.021-0.012v4.896H8.5V7.354l0.022,0.012L12.175,1H9.59z"/> <path d="M15.062,4.75C15.57,4.75,16,5.18,16,5.688v3.75c0,0.508-0.43,0.938-0.938,0.938s-0.938-0.43-0.938-0.938v-3.75
		C14.125,5.18,14.555,4.75,15.062,4.75z M15.062,2.875c-1.547,0-2.812,1.266-2.812,2.812v3.75c0,1.547,1.266,2.812,2.812,2.812
		s2.812-1.266,2.812-2.812v-3.75C17.875,4.141,16.609,2.875,15.062,2.875L15.062,2.875z"/> <path d="M23.5,2.875v7.382c-0.818,0.683-1.875,1.094-1.875-1.337V2.875H19.75v6.426h0.003c0.029,1.549,0.354,4.34,3.747,2.071
		v0.878h1.875V2.875H23.5z"/> <path d="M26.312,21.625c-0.517,0-0.938,0.421-0.938,0.938V23.5h1.875v-0.938C27.25,22.046,26.828,21.625,26.312,21.625z"/> <path d="M17.875,22.562v4.922c0.635,0.634,1.875,0.703,1.875-0.234s0-3.457,0-4.395S18.812,21.624,17.875,22.562L17.875,22.562z"/> <path d="M30.846,18.037c-0.081-1.08-0.47-1.961-1.165-2.644s-1.585-1.055-2.668-1.116c-2.045-0.102-6.722-0.152-10.831-0.152
		c-4.111,0-9.121,0.051-11.165,0.152c-1.084,0.062-1.973,0.434-2.669,1.116c-0.695,0.683-1.083,1.563-1.164,2.644
		C1.061,20.237,1,21.035,1,22.136s0.061,2.75,0.184,4.952c0.081,1.079,0.471,1.961,1.164,2.643c0.696,0.684,1.585,1.055,2.669,1.116
		C7.061,30.948,12.07,31,16.182,31c4.109,0,8.786-0.052,10.831-0.153c1.083-0.062,1.973-0.433,2.668-1.116
		c0.695-0.682,1.084-1.563,1.165-2.643C30.948,25.254,31,23.603,31,22.136S30.948,19.871,30.846,18.037z M6.625,29.125H4.75V19.75
		H2.875v-1.875H8.5v1.875H6.625V29.125z M14.125,29.125H12.25v-0.878c-3.563,2.001-3.718,0.064-3.747-1.486H8.5v-5.136h1.875v5.165
		c0,1.133,1.057,1.023,1.875,0.342v-5.507h1.875V29.125z M21.625,27.223c0,1.959-2.007,2.531-3.75,1.008v0.895H16v-11.25h1.875
		v3.047c1.875-1.875,3.75-1.172,3.75,0.703S21.625,25.175,21.625,27.223z M29.125,23.5v0.938h-3.75v1.875
		c0,0.516,0.421,0.938,0.938,0.938c0.516,0,0.938-0.422,0.938-0.938v-0.938h1.875v0.938c0,1.551-1.262,2.812-2.812,2.812
		S23.5,27.863,23.5,26.312v-3.75c0-1.551,1.262-2.812,2.812-2.812s2.812,1.262,2.812,2.812V23.5z"/> </g> </symbol></svg></div>