/* ===========================================
 * Site typography
 * =========================================== */

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
  color: @headings-color;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1, .alpha,
h2, .beta,
h3, .gamma {
  margin-top: @spacing-small;
  margin-bottom: @spacing-small;

  small {
    font-size: 65%;
  }
}

h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: (@spacing-small / 2);
  margin-bottom: (@spacing-small / 2);

  small {
    font-size: 75%;
  }
}

h1, .alpha   { .font-size(@font-size-h1); }
h2, .beta    { .font-size(@font-size-h2); }
h3, .gamma   { .font-size(@font-size-h3); }
h4, .delta   { .font-size(@font-size-h4); }
h5, .epsilon { .font-size(@font-size-h5); }
h6, .zeta    { .font-size(@font-size-h6); }

@media screen and (max-width: @desktop-breakpoint) {

}

@media screen and (max-width: @tablet-breakpoint) {

}


// Body text
// -------------------------

p {
  margin: 0 0 ceil(@spacing-small / 2);
}

.lead {
  margin: @spacing-small 0 @spacing-large;
  .font-size(@font-size-large);
  font-weight: 300;
  line-height: 1.4;
}

// Links
a {
  color: @color-link;
  text-decoration: none;
  transition: all .3s;
  &:hover {
    color: @color-link-hover;
    outline: 0;
  }
  &:focus {
    color: purple;
    outline: 0;
  }
  &:active {
    color: darken(@color-link, 30%);
  }
}

// Misc

// Link with arrow on hover
.link-arrow {
  .font-size(@font-size-small);
  &:after {
    content: '\2192';
    font-family: 'Arial';
    position: relative;
    left: -5%;
    top: 2px;
    opacity: 0;
    transition: all .3s;
  }
  &:hover {
    &:after {
      opacity: 1;
      left: 3px;
    }
  }
}

// Link alias
.link-alias {
  &:hover {
    cursor: alias;
  }
}

// Link underline
.link-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  color: @color-text;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ccc;
    transition: all .15s ease-in-out;
  }
  
  &:hover {
    color: @color-text;
    &:before {
      background: @color-brand-secondary;
    }
  }
}

// Animated link underline
.link-underline-animated {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  transition: all .3s linear;
  text-decoration: none;
  color: #000;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    transition: width 0s ease;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background: @color-brand-secondary;
    transition: width .3s ease;
  }
  
  &:hover {
    &:before {
      width: 100%;
      background: @color-brand-secondary;
      transition: width .3s ease;
    }

    &:after {
      width: 100%;
      background: transparent;
      transition: width 0s ease;
    }
  }
}

// Bold and Italics
b,
strong {
  font-weight: @font-weight-bold;
}

em {
  font-style: italic;
}

// Form elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Miscellaneous
// -------------------------

// Small font
small {
  .font-size(@font-size-base - 2);
}

// Abbreviations and acronyms
abbr[title],
// Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted;
}

// Addresses
address {
  margin-bottom: @line-height-computed;
  font-style: normal;
  line-height: @line-height-base;
}

// Time
time {
  
}

// Definition
dfn { font-style: italic; }

// Mark
mark {
  background: #ff0;
  color: #000;
}

// Sub and Sup
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

// Del
del, .del { text-decoration: line-through; }
