/* ===========================================
 * Button styling
 * =========================================== */

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  background-color: @button-bg;
  color: @button-color;
  border: 1px solid transparent;
  border-radius: @border-radius-small;
  white-space: nowrap;
  padding: @button-padding-base;
  font-weight: @button-font-weight;
  &:hover,
  &:focus {
    color: @button-color;
    text-decoration: none;
  }
  &:active {
    color: @button-color;
    text-decoration: none;
  }
}

// Button primary
.button--primary {
  background-color: @color-brand-primary;
  &:hover,
  &:focus {
    color: @button-color;
    text-decoration: none;
    background-color: darken(@color-brand-primary, 3%);
  }
  &:active {
    color: @button-color;
    text-decoration: none;
    background-color: darken(@color-brand-primary, 5%);
  }
}

// Button secondary
.button--secondary {
  background-color: @color-brand-secondary;
  &:hover,
  &:focus {
    color: @button-color;
    text-decoration: none;
    background-color: lighten(@color-brand-secondary, 5%);
  }
  &:active {
    color: @button-color;
    text-decoration: none;
    background-color: lighten(@color-brand-secondary, 10%);
  }
}

// Button outline
.button--outline {
  color: @color-gray;
  background-color: transparent;
  border: 2px solid @color-silver;
  &:hover,
  &:focus {
    color: darken(@color-gray, 5%);
    border-color: darken(@color-silver, 5%);
    text-decoration: none;
    background-color: transparent;
  }
  &:active {
    color: @color-brand-primary;
    border-color: @color-brand-primary;
    text-decoration: none;
    background-color: transparent;
  }
}

// Button behaves as link
.button--link {
  color: @color-link;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
  text-decoration: none;
  &:hover,
  &:focus {
    color: darken(@color-link, 5%);
    text-decoration: none;
  }
  &:active {
    color: @color-text;
    outline: 0;
  }
}

// Button invert
.button--invert {
  background-color: @color-white;
  color: @color-brand-primary;
  box-shadow: 0 0 5px rgba(0,0,0,0);
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken(@color-brand-primary, 5%);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
  }
  &:active {
    text-decoration: none;
    color: @color-text;
    box-shadow: 0 0 5px rgba(0,0,0,0);
  }
}

// Button block
.button--block {
  display: block;
}

// Disabled button
.button--disabled {
  pointer-events: none;
  opacity: .35;
}

// Button icon
.button {
  .icon {
    top: 2px;
    margin-right: 10px;
  }
}

// Only icon
.button--icon {
  .icon {
    margin-right: 0;
  }
}

.button--circle {
  border-radius: 50%;
  padding-left: 15px;
  padding-right: 15px;
}