/* =========================================================================
   Overlay Modal Styling
   ========================================================================= */

.overlay-modal {
  background-color: fade(@color-black, 40%);
  transition: opacity .45s ease-in-out;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: @z-index-overlay;
  transform: translateZ(0);
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  
  // Open state
  &.js-overlay-modal-in {
    opacity: 1;
    pointer-events: auto;

    .overlay-modal__container {
      transform: translateY(0);
    }
  }
}

// Overlay elements
.overlay-modal__container {
  min-height: 300px;
  background-color: @color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  transform: translateY(100%) translateZ(0);
  transition: transform .4s cubic-bezier(0.4,0,0.2,1);
  will-change: transform;
}

.overlay-modal__content {
  padding: 10px;
}

.overlay-modal__header {
  padding: 10px;
  background-color: @color-text;
  color: #fff;
}

.overlay-modal__footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
}

.overlay-modal__close {
  text-align: center;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 30px;
  top: 15px;
  z-index: @z-index-overlay + 1;
  background-color: #222;
  &:hover {
    background-color: @color-brand-secondary;
  }
  
  .icon {
    width: 15px;
    height: 15px;
    fill: @color-white;
    pointer-events: none;
  }
}

// Disable scrolling on body while modal-is active
.js-overlay-modal-active {
  overflow: hidden;
}