.footer#page-footer.page-footer
	.container
		.row
			.col-12

				figure.page-logo-footer
					a(href="#")
						img(src="http://placehold.it/40x40/fff", 
						alt="", width="40", height="40")
						figcaption.page-logo-footer__caption Lorem ipsum dolor sit amet, consectetur.

				.imprint
					nav.imprint__nav
						ul.imprint__list
							li.imprint__item
								a(href="#", targer="_blank", title="",).imprint__link Link
							li.imprint__item
								a(href="#", targer="_blank", title="",).imprint__link Link
							li.imprint__item
								a(href="#", targer="_blank", title="",).imprint__link Link

					span.imprint__copyrights &copy; Lifeboat. All rights reserved.

// / page-footer
